<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kochi</title>
    <link rel="stylesheet" href="./stylespro/fiveindividualdistrict.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

    <!-- Navbar -->
    <div class="Navbar">


        <nav style="padding: 30px;" id="Navbarofthepropax" class="navbar navbar-expand-lg bg-body-tertiary  ">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 30px;">
                        <li class="nav-item ">
                            <a class="nav-link active" aria-current="page" href="../login.html">Login</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../signup.html">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../district.html">districts</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Individual districts
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./kochi.html">kochi</a></li>
                                <li><a class="dropdown-item" href="./kozhlikode.html"> kozhlikode</a></li>
                                <li><a class="dropdown-item" href="./thiruvanthirapuram.html">thiruvanthirapuram</a>
                                </li>
                                <li><a class="dropdown-item" href="./Thrissur.html">Thrissur</a></li>
                                <li><a class="dropdown-item" href="./vayanaadu.html">vayanaadu</a></li>


                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <h2 class="subheadingoftheidistricts">Heading of the components of the individuall disticts

    </h2>





    <!-- description -->

    <p class="poftheidistricts">One of the most famous tourist spots in Kochi, a picturesque district in the Indian
        state of Kerala, is the historic Fort Kochi area. Fort Kochi is known for its unique blend of colonial history,
        vibrant culture, and stunning natural beauty. Here's a description of this renowned tourist destination:

        Nestled along the Arabian Sea, Fort Kochi stands as a living testament to the rich tapestry of history that has
        woven itself into the very fabric of Kerala's coastal landscape. With its charming streets, colonial
        architecture, and cultural diversity, it's no wonder that this quaint neighborhood is a magnet for travelers
        from all corners of the globe.</p>


    <!-- hot places to visit -->
    <div class="placestovistinidistricts">

        <div class="card" style="width: 18rem;">
            <img src="./assets/Fort-Kochi.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fort Kochi</h5>
                <p class="card-text">The colonial beauty and the heritage can be experienced at Fort Kochi, an old town
                    that lies towards the south-western part of Kochi. Even after all the development and
                    transformation, the region remnants the era of Britishers and preserves the remains of Dutch art.
                    The entire region is laces with European architectures that are some highlighted spots for Kochi
                    sightseeing.

                    Every year, the town experiences a heavy footfall during the holiday season when tourist across the
                    globe gather to witness the panorama around. The Fort Kochi beach and the Chinese Fishing net are
                    two of its major attractions that you can add to your day sightseeing tour. Stroll around and spend
                    the evening to capture the spectacular sight of sunset at this fascinating tourist place in Kochi.
                </p>
                <a href="#" class="btn btn-primary">Go Fort Kochi</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="./assets/Willingdon-Island.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Willingdon Island</h5>
                <p class="card-text">The largest man-made Island in India, Willingdon Island, is among the top Kochi
                    tourist places where you plan a leisure holiday. Named after Lord Willingdon, the island is a major
                    connecting point between Fort Kochi and other airports in the city. You can some of the best beach
                    resorts and hotels in India to spend a luxury holiday in this serene city of Kerala.

                    Apart from being a tourist attraction, the island is home to some essential landmarks like the Kochi
                    Naval Base of the Indian Navy, the Central Institute of Fisheries Technology, and the Port of Kochi.
                    Explore every nook and corner of the island to admire its spectacular architecture and other
                    attractions like museums and forts built here. You can even indulge in ferry rides, cruises, and
                    other water-based activities are conducted for the tourists at this fascinating Kochi attraction.
                </p>
                <a href="#" class="btn btn-primary">Go Willingdon</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="./assets/Mangalavanam-Bird-Sanctuary-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mangalavanam Bird Sanctuary</h5>
                <p class="card-text">A paradise for bird lovers, Mangalavanam Bird Sanctuary is nestled in the middle of
                    Kochi. Spreading to an area of 2.74 hectares the sanctuary compromises an area that is dedicated to
                    Mangroo plantation. Enclosed within the backwaters and the beaches, Mangalavanam Bird Sanctuary is
                    one of the best places to see in Kochi for some photography and nature tours.

                    You can spot migratory birds and other native species that dwell in the natural habitat. The tidal
                    lake, surrounded by the thick mangrove forests attracts the exotic birds of 32 different species.

                    The Mangalavanam Bird Sanctuary is a protected area and a breeding ground for many rare bird
                    species. Free nature camps are often organized by the Kerala Forest and Wildlife Department for
                    tourists to explore the wildlife prevailing in this Kochi tourist place.</p>
                <a href="#" class="btn btn-primary">Go Mangalavanam</a>
            </div>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>