<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kozhlikode</title>
    <link rel="stylesheet" href="./stylespro/fiveindividualdistrict.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

    <!-- Navbar -->
    <div class="Navbar">


        <nav style="padding: 30px;" id="Navbarofthepropax" class="navbar navbar-expand-lg bg-body-tertiary  ">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 30px;">
                        <li class="nav-item ">
                            <a class="nav-link active" aria-current="page" href="../login.html">Login</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../signup.html">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../district.html">districts</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Individual districts
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./kochi.html">kochi</a></li>
                                <li><a class="dropdown-item" href="./kozhlikode.html"> kozhlikode</a></li>
                                <li><a class="dropdown-item" href="./thiruvanthirapuram.html">thiruvanthirapuram</a>
                                </li>
                                <li><a class="dropdown-item" href="./Thrissur.html">Thrissur</a></li>
                                <li><a class="dropdown-item" href="./vayanaadu.html">vayanaadu</a></li>


                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <h2 class="subheadingoftheidistricts">Tourist places in calicut

    </h2>





    <!-- description -->

    <p class="poftheidistricts">Kerala is a home to a variety of landscapes and anyone who’s come across this God’s own
        country would surely agree. Calicut or much famed as Kozhikode, is one such beautiful city in Kerala that feel
        like every traveller’s dream. A pristine haven in nature, Kozhikode is filled with lush greenery, tranquil
        beaches, and historical forts. Also serving as the perfect weekend getaway for the locals and nearby travellers,
        get going to explore these ten amazing places to visit in Calicut which form the essence of the spice capital of
        Kerala.</p>


    <!-- hot places to visit -->
    <div class="placestovistinidistricts">

        <div class="card" style="width: 18rem;">
            <img src="./assets/Pazhassi Raja Museum And Art Gallery –.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pazhassi Raja Museum And Art Gallery </h5>
                <p class="card-text">TFor all the history lovers, Calicut is the perfect place to be. The Pazhassi Raja
                    Museum and Art Gallery is one of the best places to visit in Calicut. Named after the famous ruler
                    Pazhassi Raja who fought the British with the help of tribes, the museum displays a variety of
                    monuments, mural paintings, and old coins.
                </p>
                <a href="#" class="btn btn-primary">Go Raja Museum</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="./assets/Thikkoti Light House.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Thikkoti Light House</h5>
                <p class="card-text">TKnown to have been constructed on the remains of a shipwreck, the Thikkoti
                    lighthouse is one of the best Calicut attractions to explore. The lighthouse is located on the rocky
                    shoreline and offers scenic views of the sea, and several species of nomadic birds. For those who’re
                    looking forward to spend a quiet day by the sea, look no further than the Thikkoti Light House.
                </p>
                <a href="#" class="btn btn-primary">Go Thikkoti Light House</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="./assets/Kozhikode Beach – Stunning Views.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kozhikode Beach – Stunning Views</h5>
                <p class="card-text">Of all the best beaches Kozhikode is famous for, Calicut beach happens to be an
                    ideal location for tourists who want to unwind themselves from the stress and pollution of the city.
                    If you are keen to discover the river in Kerala, this is one of the perfect places to see in
                    Kozhikode that you need to add to your itinerary. The beach not only offers the best sunrise and
                    sunset views but every year in January, the beach also plays a great host to one of the biggest
                    festivals called the Malabar Mahotsavam..</p>
                <a href="#" class="btn btn-primary">Go Kozhikode Beach</a>
            </div>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>