<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thiruvanthirapuram</title>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>kochi</title>
        <link rel="stylesheet" href="./stylespro/fiveindividualdistrict.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
</head>

<body>

    <!-- single carousel -->
    <!DOCTYPE html>
    <html lang="en">


    <body class="backgroundbodyoftrivandrum">

        <!-- Navbar -->
        <div class="Navbar">


            <nav style="padding: 30px;" id="Navbarofthepropax" class="navbar navbar-expand-lg bg-body-tertiary  ">
                <div class="container-fluid">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 30px;">
                            <li class="nav-item ">
                                <a class="nav-link active" aria-current="page" href="../login.html">Login</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../signup.html">Sign up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../district.html">districts</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Individual districts
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="./kochi.html">kochi</a></li>
                                    <li><a class="dropdown-item" href="./kozhlikode.html"> kozhlikode</a></li>
                                    <li><a class="dropdown-item" href="./thiruvanthirapuram.html">thiruvanthirapuram</a>
                                    </li>
                                    <li><a class="dropdown-item" href="./Thrissur.html">Thrissur</a></li>
                                    <li><a class="dropdown-item" href="./vayanaadu.html">vayanaadu</a></li>


                                </ul>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
        </div>

        <h2 class="subheadingoftheidistricts">Tourist spots in Trivandrum

        </h2>





        <!-- description -->

        <p class="poftheidistricts" Trivandrum or Thiruvananthapuram is the capital of Kerala State in the south of
            India. It is known for its calm beaches, backwaters, hill stations, and rich culture because of which it
            attracts several Indian as well as foreign tourists. It is one of the cleanest and calm cities in India.</p>


            <!-- hot places to visit -->
        <div class="placestovistinidistricts">

            <div class="card" style="width: 18rem;">
                <img src="./assets/kovalam-beach.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kovalam Beach</h5>
                    <p class="card-text">It is located at a distance of 16 km from Thiruvananthapuram Central Railway
                        Station and about 10 km from Thiruvananthapuram International Airport. It has a long coastline
                        with substantial palm, a lighthouse, and clear waters, which makes it the main attraction of
                        tourists in Trivandrum.

                        There are three beaches separated by rocky projection in its 17 KM long coastline, known as
                        Light House Beach, Hawah Beach, and Samudra Beach. These three beaches together make famous
                        semi-circular Kovalam Beach.
                    </p>
                    <a href="#" class="btn btn-primary">GoKovalam Beach</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="./assets/PADMANABHASWAMY-TEMPLE.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> Padhmanabhaswamy Temple</h5>
                    <p class="card-text">Padmanabhaswami Temple is a very famous and sacred Hindu temple located in the
                        heart of the city and is one of the best tourist places in Trivandrum. The history of the temple
                        dates back to the 8th century and it was renovated by Marthanda Varma the king of Travancore in
                        1750.

                        The foundation of the present-day gopuram was laid in 1566. It is built by the side of a tank
                        with 100 ft 7 tier gopuram.
                    </p>
                    <a href="#" class="btn btn-primary">Go Padhmanabhaswamy Temple</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="./assets/SHANKHUMUGHAM-BEACH.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shankhumugam Beach</h5>
                    <p class="card-text">This beach is located 7 km from Thiruvananthapuram Central Railway station and
                        a short drive from International Airport. It is one of the best tourist places in Trivandrum.
                        People come here in the evening to view the sunset, Giant Mermaid statue, some vantage points
                        specifically created for picnickers. </p>
                    <a href="#" class="btn btn-primary">Go Shankhumugam Beach</a>
                </div>
            </div>
        </div>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    </body>

    </html>

</html>