<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kochi</title>
    <link rel="stylesheet" href="./stylespro/fiveindividualdistrict.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

    <!-- Navbar -->
    <div class="Navbar">


        <nav style="padding: 30px;" id="Navbarofthepropax" class="navbar navbar-expand-lg bg-body-tertiary  ">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 30px;">
                        <li class="nav-item ">
                            <a class="nav-link active" aria-current="page" href="../login.html">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../signup.html">Sign up</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../district.html">districts</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Individual districts
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./kochi.html">kochi</a></li>
                                <li><a class="dropdown-item" href="./kozhlikode.html"> kozhlikode</a></li>
                                <li><a class="dropdown-item" href="./thiruvanthirapuram.html">thiruvanthirapuram</a>
                                </li>
                                <li><a class="dropdown-item" href="./Thrissur.html">Thrissur</a></li>
                                <li><a class="dropdown-item" href="./vayanaadu.html">vayanaadu</a></li>


                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <h2 class="subheadingoftheidistricts">Tourists spots in Thrissur

    </h2>





    <!-- description -->

    <p class="poftheidistricts">Thrissur is the oldest planned city in the region? Bet you didn’t! Known as Kerala’s
        cultural capital, Thrissur is one of the most culturally and socially vibrant places in the state. Most famous
        for the Thrissur Pooram Festival that is marked by colorful pageantry, elephant parades and some enthusiastic
        percussions, the city offers a wealth of attractions that are spiritually and historically important..</p>


    <!-- hot places to visit -->
    <div class="placestovistinidistricts">

        <div class="card" style="width: 18rem;">
            <img src="./assets/Vadakkunnathan-Temple-Thrissur.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vadakkunnathan Temple</h5>
                <p class="card-text">Built in the classic Kerala style of architecture, the imposing Vadakkunnathan
                    Temple is one of the most popular places to visit in Thrissur. Sitting atop Thekkinkadu Maithanam,
                    the temple has been mentioned in ancient Hindu texts like the Brahmanda Purana and is believed to
                    have been founded by warrior Lord, Parashuram. It has many other historical legends associated with
                    it that are quite interesting to note.

                    The cavernous interiors of the temple are a sight to behold with stunning murals depicting stories
                    from the Mahabharata, wood carved vignettes and frescos. The temple is also the site of the Thrissur
                    Pooram Festival, one of the most spectacular events in Kerala accompanied by colorful events and
                    parades.
                </p>
                <a href="#" class="btn btn-primary">Go Vadakkunnathan Temple</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="./assets/Guruvayur-Sree-Krishna-Temple.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Guruvayur Sree Krishna Temple</h5>
                <p class="card-text">With references dating back as far as the 16th century, Guruvayur Temple is one of
                    the oldest and largest temples in India. On top of every travelers’ list visiting Thrissur,
                    Guruvayur Temple is an important place of worship for Hindus who pray to Lord Vishnu here in the
                    form of his Krishna avatar, Guruvayurappan.

                    Lord Vishnu is depicted in full regalia at the shrine that is also referred to as the ‘Dwarka of
                    South India’ (because of its association with Krishna) and ‘Bhu-loka Vaikuntham’ (Lord Vishnu’s holy
                    abode, Vaikunth, on earth). The temple is super crowded and the wait times are often quite long, but
                    it reverberates with positive spiritual energy that keeps the devotees calm and strong throughout
                    the wait. Do remember that the dress code for visiting the temple is very strict and must be adhered
                    to at all times.
                </p>
                <a href="#" class="btn btn-primary">Go Guruvayur</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="./assets/Basilica.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Basilica of Our Lady of Dolours, Thrissur</h5>
                <p class="card-text">Another must-visit place in Thrissur is Basilica of Our Lady of Dolours, an
                    impressive Indo-Gothic church that is considered to be the largest in the country. Constructed in
                    1814, the church is a testimony to the city’s diverse culture and is worth your time for the
                    brilliant white façade which makes it so identifiable, the imposing interiors with a large nave and
                    11 altars, and the stunning murals depicting scenes from the Christian scriptures.</p>
                <a href="#" class="btn btn-primary">Go Basilica </a>
            </div>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>