<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wayanad</title>
    <link rel="stylesheet" href="./stylespro/fiveindividualdistrict.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

    <!-- Navbar -->
    <div class="Navbar">


        <nav style="padding: 30px;" id="Navbarofthepropax" class="navbar navbar-expand-lg bg-body-tertiary  ">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 30px;">
                        <li class="nav-item ">
                            <a class="nav-link active" aria-current="page" href="../login.html">Login</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../signup.html">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../district.html">districts</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Individual districts
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./kochi.html">kochi</a></li>
                                <li><a class="dropdown-item" href="./kozhlikode.html"> kozhlikode</a></li>
                                <li><a class="dropdown-item" href="./thiruvanthirapuram.html">thiruvanthirapuram</a>
                                </li>
                                <li><a class="dropdown-item" href="./Thrissur.html">Thrissur</a></li>
                                <li><a class="dropdown-item" href="./vayanaadu.html">vayanaadu</a></li>


                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <h2 class="subheadingoftheidistricts">Tourist places of Wayanad

    </h2>





    <!-- description -->

    <p class="poftheidistricts">Wayanad features right on top of the list when it comes to Kerala hill stations. Filled
        with lovely, scenic roads, jungles with mighty elephants and deer wandering in peace, and the lush greenery of
        Western Ghats, there are amazing places to visit in Wayanad. While a part of Kerala, Wayanad’s ecology is unlike
        many other places. This is a very pristine destination that still retains is natural charm. The popular Wayanad
        Tourist Places offer so many unique cultural and natural surprise. Some of the best resorts in Wayanad offer a
        multitude of activities for children, tourist groups and couples..</p>


    <!-- hot places to visit -->
    <div class="placestovistinidistricts">

        <div class="card" style="width: 18rem;">
            <img src="./assets/Kalpetta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Natural wonders of Kalpetta</h5>
                <p class="card-text">Head towards the beautiful Kanthanpara, Meenmutty and Soochippara Waterfalls for a
                    rejuvenating experience. Two of these waterfalls make Kalpetta one of the best places to visit in
                    Wayanad. Many of the best resorts in Wayanad are located around Kalpetta. You can also book a tree
                    house and enjoy living in the jungle.
                    You can also explore the best of nature on a trek to Vaduvanchal, as it boasts of some amazing sites
                    including the Phantom Rock, Cheenigeri Mala, Neelima View Point and Chethalayam Falls.
                </p>
                <a href="#" class="btn btn-primary">Go Kalpetta</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="./assets/Eco-friendly Meenangadi.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Eco-friendly Meenangadi</h5>
                <p class="card-text">t. Mary’s Syrian Orthodox Church, built in 1958, is a popular tourist place in
                    Kerala. The Church’s style of construction is so unique that architecture lovers need to make sure
                    that they don’t miss one of the most unique places to visit in Wayanad.
                    When it comes to holy places for Hindu religion, Manikavu is one of the highly revered places to
                    visit in Wayanad. It believed that the Shivalinga at the Manikavu temple devoted to Lord Shiva is
                    self-manifested and water pours continuously on it from a stream and is a must visit.
                </p>
                <a href="#" class="btn btn-primary">Go Eco-friendly Meenangadi</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="./assets/Pozhuthana.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Calm and peaceful Pozhuthana</h5>
                <p class="card-text">Take a soothing dip at the Pozhuthana River, which is more like a slow flowing
                    river more like a lake than a river. This river gives an impression of backwaters, because of which
                    many tourists and photographers like to spend their time here. With the amount of scenic beauty
                    hidden in Pozhuthana River, it is obviously one of the best Wayanad scenic spots that is not to be
                    missed.</p>
                <a href="#" class="btn btn-primary">Go Pozhuthana</a>
            </div>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>